<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('header.ejs');%>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>


<body class="body-wrapper">


    <!--        social media side bar-->

    <nav class="social-media-bar">
        <ul class="social-media">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </nav>


    <section>




        <!--            jumbotron-->
        <section class="text_align_center container-full">
            <div class=description-title>
                <h1 id="desc-title">Software Engineer</h1>
            </div>



            <div id="wrapper">
                <!--                <a class="btn btn-primary btn-lg" href="#" role="button">save your spot</a>-->
                <a href="save your spot" class="button" id=save-spot>save your spot</a>
            </div>


            <div>
                <img src="stuff.jpeg" alt="jumbotron image" id="actuary-image">
            </div>
        </section>

        <section>
            <div class="container margin_top_5pc">
                <div class="row">
                    <div class="col-lg-12 text_align_center">
                        <div class="full heading_s1">
                            <h2>Currently</h2>
                        </div>
                        <div class="full">
                            <p>500</p>
                            <p>employers recruiting</p>


                        </div>
                    </div>
                    <div class="col-md-12 text_align_center">
                        <div class="about the job text margin_top_5pc margin_bottom_10pc">
                            <div class="full heading_s2">
                                <h2>About the Job</h2>
                            </div>
                            <div class="full">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>





    </section>

    <%-include('footer.ejs');%>
</body>

</html>
