</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="index.js"></script>

<!-- info section -->
<section class="color-section" id="footer">
    <footer class="page-footer pt-4">
        <div class="row">
            <div class="col-md-4">
                <h4>Find your next job.</h4>
                <img src="mainlogo.png" class="info-logo">
            </div>
            <div class="col-md-2">
                <h5 class="info-catagories">Students</h5>
                <ul class="footer-list">
                    <li><a class="info-link" href="">How To Get Started</a></li>
                    <li><a class="info-link" href="">Who's Hiring</a></li>
                    <li><a class="info-link" href="">Credentials Checklist</a></li>
                    <li><a class="info-link" href="">Get Help</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5 class="info-catagories">Employers</h5>
                <ul class="footer-list">
                    <li><a class="info-link" href="">How To Get Started</a></li>
                    <li><a class="info-link" href="">Who's Applying</a></li>
                    <li><a class="info-link" href="">How to Post A Job</a></li>
                    <li><a class="info-link" href="">Resources</a></li>
                    <li><a class="info-link" href="">Get Help</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5 class="info-catagories">Company</h5>
                <ul class="footer-list">
                    <li><a class="info-link" href="">About Us</a></li>
                    <li><a class="info-link" href="">Our Team</a></li>
                    <li><a class="info-link" href="">Our Mission</a></li>
                    <li><a class="info-link" href="">Contact Us</a></li>
                    <li><a class="info-link" href="">Get Help</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5 class="info-catagories">Account</h5>
                <ul class="footer-list">
                    <li><a class="info-link" href="">My Account</a></li>
                    <li><a class="info-link" href="">Sign In</a></li>
                    <li><a class="info-link" href="">Sign Up</a></li>
                    <li><a class="info-link" href="">Get Help</a></li>
                </ul>
            </div>
        </div>
    </footer>
</section>
<!-- copyright -->
<section id="copyright" class="white-section">
    <div class="container-fluid">
        <hr>
        <p class="copyright-text">© 2020 Easyjobs.All rights reserved</p>
        <div class="copyright-icon-div">
            <i class="copyright-logo footer-img fa fa-twitter fa-lg" aria-hidden="true"></i>
            <i class="copyright-logo footer-img fa fa-facebook fa-lg" aria-hidden="true"></i>
            <i class="copyright-logo footer-img fa fa-instagram fa-lg" aria-hidden="true"></i>
            <i class="copyright-logo footer-img fa fa-envelope fa-lg" aria-hidden="true"></i>
        </div>
</section>

</html>
