/*contact*/
.adress_cont {

    margin-right: 0px;
    padding-right: 0px;
    /*    display: inline;*/
    float: left;


}

.contact_information {
    /*   display: inline-block;*/
    float: left;
    width: 100%;
    border-top: solid #e1e1e1 1px;
    border-bottom: solid #e1e1e1 1px;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-top: 15px;
    margin-bottom: 70px;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;

}

.contant_form {
    float: left;
    width: 100%;
}

.form_contant {
    outline: none !important;
    box-sizing: border-box;
}

input.field_custom {
    border: solid #e1e1e1 1px;
    width: 100%;
    background: #f8f8f8;
    min-height: 50px;
    padding: 5px 20px;
    line-height: normal;
    border-radius: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #737373;
}

textarea.field_custom {
    border: solid #e1e1e1 1px;
    width: 100%;
    background: #f8f8f8;
    min-height: 150px;
    padding: 15px 20px;
    line-height: normal;
    border-radius: 0px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #737373;
}

.main_heading::after {
    content: "";
    display: block;
    margin: 20px auto 0;
    width: 80px;
    height: 5px;
    background-color: #a1ced3;
}

/* actuary */
/* social media bar */


.body-wrapper {
    margin: 0px;
}

section.container-full {
    margin: auto;
    width: 90%;
    display: block;
    background-color: #F2EDE7;
    padding-bottom: 5%;
}

.container-full {
    display: block;
    align-content: center;
    /*
    margin-left: 70px;
    margin-right: 70px;
*/



}

ul.social-media {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    right: 0;
}



nav.social-media-bar {
    position: fixed;
    width: 70px;
    margin-left: 0px;
    margin-top: 150px;
    transition: all 0.3s linear;

}

nav.social-media-bar li {
    height: 60px;
    position: relative;
}

nav.social-media-bar li a {
    color: black;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    padding-left: 25%;

    transition: all .3s linear;
}





#save-spot {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #5DABB5;
    /*    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);*/
    text-align: center;
    position: relative;
}

#save-spot:active {
    top: 0.1em;
}



.display-4 {
    text-align: center;
}

#actuary-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 80%;
}


.text_align_center {
    text-align: center;
}

.margin_top_5pc {
    margin-top: 5%;
}

.margin_bottom_10pc {
    margin-bottom: 10%;
}

.description-title {
    padding-top: 5%;
    padding-bottom: 3%;
}

#desc-title {
    /*line-height: 10%;*/
    /*vertical-align: text-bottom;*/
    color: #5DABB5;
    font-weight: 100;
}

.section.padding_layout_1 .h2 {
    font-family: 'Montserrat', sans-serif;
    color: #a1ced3;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #a1ced3;
}

.full {
    max-width: 600px;
    margin: auto;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
}




/* end actuary */

/*
Testing
*/




body {
    font-family: 'Noto Sans SC', sans-serif;
    color: black;
}

.logo {
    max-width: 10%;
    display: block;
    position: absolute;
    z-index: 2;
    margin: auto;

    left: 0;
    right: 0;


}

.color-section {
    background-color: white;
}

.white-section {
    color: #000;
}

.nav-link {
    color: #000;
}

#title {
    height: 100%;
    padding-bottom: 100px;

}

.nav-stuff {
    padding: 0 12px;
    font-family: 'Noto Sans SC', sans-serif;
    position: relative;
}

.nav-stuff:after {
    background: none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: yellow;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-stuff:hover:after {
    width: 100%;
    left: 0;
}

.navButton {
    font-family: 'Montserrat', sans-serif;
    margin-right: 5px;
}

.biggest-image {
    background-image: url("Laptop.jpg");

    position: absolute;
    background-size: cover;

    height: 100%;
    width: 100%;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);

}

.homepage {
    z-index: 2;
    text-align: center;
    padding: 0% 20%;
    color: white;
}

.homepagebtn {
    background-color: #000000;
    color: white;

}

.title-word {
    margin: 10% 0;
    padding-top: 10%;
    font-family: 'DM Serif Display', serif;
    font-size: 5rem;
}

.description {

    font-family: 'Montserrat', sans-serif;
    margin-bottom: 60px;
    font-size: 1.3rem;
    line-height: 2;
}

.email-address {
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    padding: 5% 30%;
    z-index: 100;
}

/*catagories section*/

#Catagories {
    text-align: center;
    padding: 6% 19%;
    font-family: 'Montserrat', sans-serif;
}

.cat-cad {
    background-color: #a1ced3;
}

.cat-content {
    vertical-align: middle;
    align-items: center;
    top: 50%;
    padding-top: 50%;
}

.icons {
    color: #5fdde5;
    padding: 20px 0;
}

h3,
h5,
.job-title {
    font-family: 'DM Serif Display', serif;
}

.job-title {
    font-size: 2.5rem;
    padding: 6%;
}

.job-catagories {
    color: yellow;
}

/*Features*/
#features {
    padding: 7% 15%;
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.feature-heading {
    font-size: 3rem;
    text-align: center;
    font-family: 'DM Serif Display', serif;
}

.box1 {
    background-color: #f8f7f3;
    width: 150px;
    height: 320px;
}

.featurebtn {
    margin-top: 10px;
}

#features .icons {
    color: yellow;

}

.feature-title {
    font-size: 1.7rem;
}

.feature-para {
    padding-bottom: 40px;
}


/*Testimonials*/
#testimonials {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 8% 10% 4% 10%;
    background-color: #f8f7f3;
}

.testimonial-text {
    font-family: 'DM Serif Display', serif;
    padding-bottom: 50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: yellow;
    background-size: 100%, 100%;
    border-radius: 50%;
}

.quote {
    font-size: 13px;
}

.card {
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: #ebebeb;
    transition: 0.9s;
}

.testimonials-img {
    padding-top: 2rem;
    max-width: 6rem;
}

.card-testimonial {
    padding: auto;
    margin: auto;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 4%;
}

.big-image {
    background-image: url("sea.png");
    position: absolute;
    background-size: cover;
    bottom: 0;
    height: 50%;
    width: 80%;
    display: block;
}

/*press section*/
#press {
    text-align: center;
}

.press-image {
    max-width: 11%;

}

/*college*/
#college {
    font-family: 'Montserrat', sans-serif;
    padding: 8% 13% 5% 13%;
    color: black;
    background-color: #a1ced3;
}

.college-title {
    color: black;
    font-family: 'DM Serif Display', serif;
    font-size: 3.2rem;
    padding-bottom: 50px;
}

.college-text {
    font-size: 1.2rem;
}

.imageDiv {
    text-align: center;
}

.college-image {
    text-align: center;
    width: 100%;
    padding: 0;

}

.college-logo {
    width: 10%;
    margin: 40px 20px;
}

/*signup*/
#signup {
    background-color: #f8f7f3;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 6% 30% 3% 30%;
}

.signup-title {
    font-family: 'DM Serif Display', serif;
    padding-bottom: 30px;
    font-size: 3rem;
}

.email-address-bottom {
    padding: 6% 4%;
}

.mainlogo {
    width: 30%;

}

/*footer*/
#footer {
    background-color: #a1ced3;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 2% 8%;
    text-align: left;
}

.info-logo {
    width: 30%;
    padding: 20px 0 30px 0;
}

h5,
h2,
h4 {
    font-family: 'DM Serif Display', serif;
}

.info-link {
    color: #fff;
    line-height: 1.3;
}

li {
    padding-bottom: 10px;
}

.footer-list {
    padding-left: 0;
    list-style-type: none;
}

.info-catagories,
h4 {
    padding-bottom: 12px;
}

/*copyright*/
.copyright-text {
    position: absolute;
}

.copyright-logo {
    position: relative;
    padding: 0 20px 0 20px;
}

.copyright-icon-div {
    text-align: right;
}


/*signup page style*/
#entireSignup {
    background-image: url("signup-background2.jpg");
}

.nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    margin-bottom: 50px;
}

.nav-tabs .nav-link {
    padding: 2%;
    height: 34px;
    font-weight: 600;

    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.nav-tabs .nav-link:hover {
    border: none;
}

.nav-tabs .nav-link.active {
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.tab {
    display: none;
}

.signupTitle {
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
}

.form-signin {
    padding: 5% 10%;
}

.signupImage {
    width: 120%;
}

.signUpPage {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    margin-top: 4%;
    margin-bottom: 15%;
}

.top {
    margin-top: 20px;
    margin-right: 20px;
}

.passWord {

    letter-spacing: 1px;
    font: bold 100% "Lucida Sans Unicode", sans-serif;
}

.signUpWord {
    padding-top: 50px;
    font-size: 2rem;
    font-family: 'DM Serif Display', serif;

}

.signupleft {
    color: #fff;
    text-align: center;
    padding: 18% 4%;

}


/*login page*/


#login {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 6% 30% 30% 30%;
    background-image: url("signup-background2.jpg");
    color: white;
}

#login h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    margin-top: 20px;
    padding-bottom: 30px;

}


/*profile page*/
#profile {
    background-color: #d3dbff;
    padding-bottom: 8%;
}

.nodisplay {
    display: none;
}

.inputstuff {
    border: none;
    border-color: transparent;
    visibility: hidden;
}

.editBTN {
    border-color: transparent;
    border: none;
}

.hidedisplaystuff {
    visibility: hidden;
}

.profile-left {
    float: right;
    position: relative;
    padding-top: 6%;
    text-align: center;

}

.profile-right {
    display: flex;
    position: relative;
    padding-top: 3%;
    margin-left: 5%;
    margin-right: 20%;
}

.secondary-word {
    color: #808080;
    font-size: 1rem;
}

.tres-word {
    color: #808080;
    font-size: 0.8rem;
}

ul {
    list-style-type: none;
}


@media (max-width: 1028px) {
    body {
        text-align: center;
    }

    /*title*/
    .email-address {
        padding-left: 10px;
        padding-bottom: 30px;
    }

    .navbar {
        text-align: left;
        margin-left: 3%;
    }

    .navbar-toggler {
        margin-top: 30px;
        margin-bottom: 30px;

    }


    .nav-items {
        margin-top: 3%;
    }

    /*Catagories*/
    .card {
        display: inline-block;
    }

    /*colleges*/
    .college-image {
        padding-bottom: 50px;
    }

    /*subscribe-page(home)*/
    #signup {
        padding: 15% 5%;
    }

    .signup-title {
        font-size: 1.8rem;
    }

    .email-address-bottom {
        padding-top: 5%;
    }

    /*copyright*/
    .copyright-text {
        position: relative;
    }

    .copyright-icon-div {
        text-align: center;
    }

}
